@import "src/styles/variables";

.board {
  $board-size: calc(var(--size) * $tile-size);

  position: relative;
  box-sizing: content-box;

  width: $board-size;
  height: $board-size;

  padding: $board-pudding;

  border: $board-border;
  border-radius: 4px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}