@import "src/styles/libs";

.tile {
  width: $tile-width;
  height: $tile-width;

  margin: $tile-margin;
  background: $tile-background;
  border-radius: $tile-border-radius;

  font-size: $tile-font-size;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &--empty {
    cursor: default;
    background-color: inherit;
  }

  &--slide {
    --time: 250;
    --from: 0;
    --to: 0;

    @include simple-slide(var(--from), var(--to), var(--time))
  }
}