@import "src/styles/variables";

.tile {
  width: $tile-width;
  height: $tile-width;

  margin: $tile-margin;
  background: $tile-background;
  border-radius: $tile-border-radius;

  font-size: $tile-font-size;

  display: flex;
  align-items: center;
  justify-content: center;
}