$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Tile
$tile-width: 10rem;
$tile-margin: 0.1rem;
$tile-size: $tile-width + $tile-margin * 2;
$tile-font-size: 5rem;
$tile-background: #79C279;
$tile-border-radius: 4px;

// Board
$board-pudding: $tile-margin;
$board-border: 1px solid #A19C9C;